## Package management
!bun.lock
!package.json
!tsconfig.json

## Source files
!src
!*.ts

## Test data
!src/testdata/
!src/testdata/**/
!src/testdata/**/*.txt
!src/testdata/**/*.json

## Tasks
!.tasks.toml
