[submodule "vendor/bats/support"]
	path = vendor/bats/support
	url = https://github.com/bats-core/bats-support
	branch = v0.3.0

[submodule "vendor/bats/assert"]
	path = vendor/bats/assert
	url = https://github.com/bats-core/bats-assert
	branch = v2.1.0

[submodule "vendor/bats/file"]
	path = vendor/bats/file
	url = https://github.com/bats-core/bats-file
	branch = v0.4.0
