## Ignore all by default
*

## Allow config
!.github/
!.vscode/
!.gitignore
!.windsurfrules
!.editorconfig

## Allow package management
!mise.toml
!package.json
!pnpm-lock.yaml

## Allow documentation
!docs/
!docs/**/
!docs/**/*.md

!licenses/
!licenses/*.txt
!licenses/*.md

!LICENSE
!README.md

## Allow lefthook configuration
!.lefthook.yml

!config
!config/**/
!config/**/*.yml
!config/**/*.yaml

## Allow scripts
!tsconfig.json

!scripts/
!scripts/**/
!scripts/**/*.ts

!scripts/**/.yamlfmt
!scripts/**/.yamllint
